[submodule "Assets/DMZ"]
	path = Assets/DMZ
	url = git@github.com:DeMoZ/U3d_DMZ.git
[submodule "Assets/DMZ_External"]
	path = Assets/DMZ_External
	url = git@github.com:DeMoZ/U3d_DMZExternal.git
[submodule "Assets/DMZ_AttackController"]
	path = Assets/DMZ_AttackController
	url = git@github.com:DeMoZ/DMZ_AttackController.git
[submodule "Assets/Props/Characters/DMZ_Skeleton"]
	path = Assets/Props/Characters/DMZ_Skeleton
	url = git@github.com:DeMoZ/DMZ_Skeleton.git
[submodule "Assets/Props/Materials/DMZ_SimpleMaterials"]
	path = Assets/Props/Materials/DMZ_SimpleMaterials
	url = git@github.com:DeMoZ/DMZ_SimpleMaterials.git
